Repository Financial-Partner/client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .gitignore --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --ignore-path .gitignore --fix"],
  "*.tsx": ["prettier --write", "eslint --ignore-path .gitignore --fix"],
  "*.js": ["prettier --write", "eslint --ignore-path .gitignore --fix"],
  "*.jsx": ["prettier --write", "eslint --ignore-path .gitignore --fix"],
  "*.json": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"]
}

新增 TransactionForm.tsx
  src/components/TransactionForm.tsx
  src/screens/HomeScreen.tsx
  src/screens/TransactionScreen.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

Add svg package and pie chart
  .env.example
  ios/Podfile.lock
  package-lock.json
  package.json
  src/components/ExpensePieChart.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/InvestmentChance.tsx
  src/components/Mission.tsx
  src/screens/AnalysisScreen.tsx
  src/screens/GachaScreen.tsx
  src/screens/HomeScreen.tsx
  src/screens/InvestScreen.tsx
  src/svg/BagIcon.tsx
  src/svg/ChangeIcon.tsx
  src/svg/Diamond.tsx
  src/svg/Dinosaur.tsx
  src/svg/DownArrow.tsx
  src/svg/GachaScreenIcon.tsx
  src/svg/UpArrow.tsx
  yarn.lock
Due: prettier --write, eslint --ignore-path .gitignore --fix

Add pie chart
  src/components/ExpensePieChart.tsx
  src/components/InvestmentChance.tsx
  src/screens/AnalysisScreen.tsx
  src/screens/InvestScreen.tsx
  yarn.lock
Due: prettier --write, eslint --ignore-path .gitignore --fix

Fix lint error
  src/components/ExpensePieChart.tsx
  src/components/Mission.tsx
  src/screens/AnalysisScreen.tsx
  src/screens/SettingsScreen.tsx
  src/svg/Diamond.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

新增交易紀錄
  src/components/TransactionForm.tsx
  src/navigation/AppNavigator.tsx
  src/screens/HomeScreen.tsx
  src/screens/TransactionScreen.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

add react native picker dependency
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

交易紀錄更新
  src/components/TransactionForm.tsx
  src/navigation/AppNavigator.tsx
  src/screens/TransactionScreen.tsx
  yarn.lock
Due: prettier --write, eslint --ignore-path .gitignore --fix

Update duration selector
  package-lock.json
  package.json
  src/components/DurationSelector.tsx
  src/screens/AnalysisScreen.tsx
  src/svg/LeftTriangle.tsx
  src/svg/RightTriangle.tsx
  yarn.lock
Due: prettier --write, eslint --ignore-path .gitignore --fix

Add TypeSelector and DurationSelector components. Remove extra space
  src/components/DateSelector.tsx
  src/components/DurationSelector.tsx
  src/components/ExpensePieChart.tsx
  src/components/Header.tsx
  src/components/InvestmentChance.tsx
  src/components/TypeSelector.tsx
  src/screens/AnalysisScreen.tsx
  src/screens/GachaScreen.tsx
  src/screens/HomeScreen.tsx
  src/screens/InvestScreen.tsx
  src/svg/BagIcon.tsx
  src/svg/ChangeIcon.tsx
  src/svg/Dinosaur.tsx
  src/svg/DownArrow.tsx
  src/svg/GachaScreenIcon.tsx
  src/svg/UpArrow.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

Update Podfile.lock dependencies and CocoaPods version
  ios/Podfile.lock
Due: none

Add pull request template for project documentation
  .github/pull_request_template.md
Due: prettier --write

Refactor SVG imports and update the default value in environment variable
  .env.example
  package-lock.json
  package.json
  src/components/DateSelector.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/InvestmentChance.tsx
  src/components/Mission.tsx
  src/screens/GachaScreen.tsx
  src/screens/HomeScreen.tsx
  src/screens/InvestScreen.tsx
  src/screens/SettingsScreen.tsx
  src/svg/GachaScreenIcon.tsx
  src/svg/index.ts
  yarn.lock
Due: prettier --write, eslint --ignore-path .gitignore --fix

Update DateSelector components to enable date selection
  package-lock.json
  package.json
  src/components/DateController.tsx
  src/components/DateSelector.tsx
  src/components/DurationSelector.tsx
  src/components/TypeSelector.tsx
  src/components/input/DateSelector.tsx
  src/components/input/DurationSelector.tsx
  src/components/input/RadioButton.tsx
  src/components/input/TypeSelector.tsx
  src/screens/AnalysisScreen.tsx
  yarn.lock
Due: prettier --write, eslint --ignore-path .gitignore --fix

Optimize date change handling in DateSelector to prevent unnecessary state updates
  src/components/input/DateSelector.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

Create character.js
  src/assets/character.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

Create README.md
  src/assets/character/README.md
Due: prettier --write

add character
  src/assets/character.js
  src/assets/characters/image1.PNG
Due: prettier --write, eslint --ignore-path .gitignore --fix

Add Chat Box to Analysis Screen
  package-lock.json
  src/screens/AnalysisScreen.tsx
  yarn.lock
Due: prettier --write, eslint --ignore-path .gitignore --fix

move chatbox content to source folder
  src/components/ChatBox.tsx
  src/screens/AnalysisScreen.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

yarn add react-native-switch-selector
  package.json
  yarn.lock
Due: prettier --write

Add nestedScrollEnabled to Layout ScrollView for nested scrolling
  src/components/Layout.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

1. npm i react-native-switch-selector --save 2. 更改數字鍵盤格式
  src/components/TransactionForm.tsx
  src/screens/TransactionScreen.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

1. remove unused code 2. comment written in english 3. Layout.tsx adding scrollable (True)
  src/components/Layout.tsx
  src/screens/HomeScreen.tsx
  src/screens/TransactionScreen.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

Install ios dependency
  ios/Podfile.lock
  yarn.lock
Due: none

上傳角色圖片
  src/assets/characters/blue 1.png
  src/assets/characters/blue 2.png
  src/assets/characters/green 1.PNG
  src/assets/characters/green 2.png
  src/assets/characters/green 3.png
  src/assets/characters/main character.PNG
  src/assets/characters/pink 1.png
  src/assets/characters/yellow 1.png
  src/assets/characters/yellow 2.png
Due: none

Add the SetUp screen for the new user
  src/navigation/AppNavigator.tsx
  src/screens/SetUp.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

Display the choice during the setup at the home screen
  src/assets/characters/blue_1.png
  src/assets/characters/blue_2.png
  src/assets/characters/green_1.png
  src/assets/characters/green_2.png
  src/assets/characters/green_3.png
  src/assets/characters/main_character.png
  src/assets/characters/pink_1.png
  src/assets/characters/yellow_1.png
  src/assets/characters/yellow_2.png
  src/screens/HomeScreen.tsx
  src/screens/SetUp.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

新增 TransactionForm.tsx
  src/screens/TransactionScreen.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

新增交易紀錄
  src/navigation/AppNavigator.tsx
  src/screens/HomeScreen.tsx
  src/screens/TransactionScreen.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

交易紀錄更新
  src/navigation/AppNavigator.tsx
  src/screens/TransactionScreen.tsx
  yarn.lock
Due: prettier --write, eslint --ignore-path .gitignore --fix

1. remove unused code 2. comment written in english 3. Layout.tsx adding scrollable (True)
  src/screens/TransactionScreen.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

新增交易紀錄
  src/navigation/AppNavigator.tsx
  src/screens/TransactionScreen.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

add react native picker dependency
  yarn.lock
Due: none
